<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>bibleAPI | {{ antl.formatMessage('general.title') }}</title>
    <meta name="author" content="@bibleapico">
    <meta name="description" content="{{ antl.formatMessage('general.description') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script async src="/theme/js/jquery-1.12.4.min.js"></script>
    <script defer src="/theme/js/jquery.json-viewer.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    {{ style('app') }}
    {{ script('app') }}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128270174-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-128270174-1');
    </script>

    <link rel="apple-touch-icon" sizes="57x57" href="/theme/images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/theme/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/theme/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/theme/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/theme/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/theme/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/theme/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/theme/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/theme/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/theme/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/theme/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/theme/images/favicon-16x16.png">
    <link rel="manifest" href="/theme/images/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">


    <script defer src="/theme/js/modernizr.js"></script>

    <!--[if lt IE 9]>
        <script src="/theme/js/html5shiv.min.js"></script>
        <script src="/theme/js/respond.min.js"></script>
    <![endif]-->

</head>


<body data-spy="scroll" data-target=".navbar-default" data-offset="100">
  <!-- Page Content -->
    <div class="warpper clearfix">
      <!-- Header -->
        <header class="navbar-header">
            <nav class="navbar navbar-expand-lg fixed-top">
                <div class="container">
                    <a class="navbar-brand" href="/" title="bibleAPI"><img src="/theme/images/logo.png" alt="bibleAPI"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon  fas fa-bars"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                              <a data-scroll="" class="nav-link section-scroll" href="#home" title="{{ antl.formatMessage('menu.index') }}">{{ antl.formatMessage('menu.index') }}</a>
                            </li>
                            <li class="nav-item">
                              <a data-scroll="" class="nav-link section-scroll" href="#about" title="{{ antl.formatMessage('menu.aboutTitle') }}">{{ antl.formatMessage('menu.about') }}</a>
                            </li>
                            <li class="nav-item">
                              <a data-scroll="" class="nav-link section-scroll" href="#howToUse" title="{{ antl.formatMessage('menu.howToUseTitle') }}">{{ antl.formatMessage('menu.howToUse') }}</a>
                            </li>
                            <li class="nav-item">
                              <a data-scroll="" class="nav-link section-scroll" href="https://doc.bibleapi.co" target="_blank" title="{{ antl.formatMessage('menu.documentationTitle') }}">{{ antl.formatMessage('menu.documentation') }}</a>
                            </li>
                            <li class="nav-item">
                              <a data-scroll="" class="nav-link section-scroll" href="#donate" title="{{ antl.formatMessage('menu.donateTitle') }}">{{ antl.formatMessage('menu.donate') }}</a>
                            </li>
                            <li class="nav-item nav-item--github">
                              <a data-scroll="" class="nav-link section-scroll" href="http://github.com/ofallante/bibleapi" target="_blank" title="{{ antl.formatMessage('menu.githubTitle') }}"><i class="fab fa-github"></i></a>
                            </li>
                            @if(antl.currentLocale() === 'pt')
                              <li class="nav-item">
                                <a class="nav-link" href="/en" title="{{ antl.formatMessage('general.english') }}">
                                  <img class="flag" src="{{ assetsUrl('theme/images/en.svg') }}" alt="{{ antl.formatMessage('general.english') }}"/>
                                </a>
                              </li>
                            @else
                              <li class="nav-item">
                                <a class="nav-link" href="/pt" title="{{ antl.formatMessage('general.portuguese') }}">
                                  <img class="flag" src="{{ assetsUrl('theme/images/br.svg') }}" alt="{{ antl.formatMessage('general.english') }}"/>
                                </a>
                              </li>
                            @endif
                            <li>
                              <div class="connect-block">
                                <a href="http://twitter.com/bibleapico" target="_blank" class="btn btn-white" title="{{ antl.formatMessage('menu.contactTitle') }}"><i class="fab fa-twitter"></i>&nbsp;&nbsp;{{ antl.formatMessage('menu.contact') }}</a>
                              </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <!--Header-->

        <!--Begin Hero Section-->

        <section id="home" class="hero">
            <div class="hero-bg"></div>
            <div class="container">
                <div class="row hero-padd">
                    <div class="col-md-6 col-xs-12 col-sm-10">
                        <div class="hero-text">
                            <h2>{{ antl.formatMessage('index.heroTitle') }}</h2>
                            <p>{{ antl.formatMessage('index.heroSubtitle') }}</p>
                            <a href="#about" class="btn btn-white" title="{{ antl.formatMessage('index.heroButton') }}">{{ antl.formatMessage('index.heroButton') }}</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 col-sm-6 d-none d-sm-block text-right">
                        <img src="/theme/images/brand.png" alt="bibleAPI">
                    </div>
                </div>
            </div>
        </section>

        <section id="about" class="padd-80">
            <!--container-->
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <div class="row align-items-stretch">
                            <div class="col-md-6 col-lg-6 col-xs-12">
                                <div class="icon-app">
                                    <div class="icon"><img src="{{ assetsUrl('theme/images/ic-book.svg') }}" alt="{{ antl.formatMessage('index.content') }}"></div>
                                    <div class="icon-header">
                                        <h3>{{ antl.formatMessage('index.content') }}</h3>
                                    </div>
                                    <div class="icon-content">
                                        <p>{{ antl.formatMessage('index.contentDescription') }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xs-12">
                                <div class="icon-app">
                                    <div class="icon"><img src="{{ assetsUrl('theme/images/ic-doc.svg') }}" alt="{{ antl.formatMessage('index.doc') }}"></div>
                                    <div class="icon-header">
                                        <h3>{{ antl.formatMessage('index.doc') }}</h3>
                                    </div>
                                    <div class="icon-content">
                                        <p>{{ antl.formatMessage('index.docDescription') }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xs-12">
                                <div class="icon-app mg-bt-0">
                                    <div class="icon"><img src="{{ assetsUrl('theme/images/ic-clock.svg') }}" alt="{{ antl.formatMessage('index.availability') }}"></div>
                                    <div class="icon-header">
                                        <h3>{{ antl.formatMessage('index.availability') }}</h3>
                                    </div>
                                    <div class="icon-content">
                                      <p>{{ antl.formatMessage('index.availabilityDescription') }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xs-12">
                                <div class="icon-app mg-bt-0">
                                    <div class="icon"><img src="{{ assetsUrl('theme/images/ic-search.svg') }}" alt="{{ antl.formatMessage('index.search') }}"></div>
                                    <div class="icon-header">
                                        <h3>{{ antl.formatMessage('index.search') }}</h3>
                                    </div>
                                    <div class="icon-content">
                                        <p>{{ antl.formatMessage('index.searchDescription') }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12">
                      <h2 class="title-h2">{{ antl.formatMessage('index.manifestTitle') }}</h2>
                      <h3 class="title-h3">{{ antl.formatMessage('index.manifestSubtitle') }}</h3>
                      <p class="font-p">{{ antl.formatMessage('index.manifestDescription1') }}</p>
                      <p class="font-p mg-bt-10">{{ antl.formatMessage('index.manifestDescription2') }}</p>
                      <p class="font-p mg-bt-30">{{ antl.formatMessage('index.manifestDescription3') }}</p>
                      <a href="http://twitter.com/bibleapico" target="_blank" class="btn btn-color" title="{{ antl.formatMessage('index.buttonContactUs') }}"><i class="fab fa-twitter"></i>&nbsp;&nbsp;{{ antl.formatMessage('index.buttonContactUs') }}</a>
                    </div>
                </div>
            </div>

        </section>

        <!--call-to-action-->
        <section id="call-to-action" class="bg-color-1 padd-60">
          <div class="container">
              <div class="row">
                  <div class="col-md-8 col-sm-8 col-xs-12">
                      <div class="call-to-action-text">
                          <h2>{{ antl.formatMessage('index.bannerTitle') }}</h2>
                          <p>{{ antl.formatMessage('index.bannerDescription1') }} <br/> {{ antl.formatMessage('index.bannerDescription2') }}</p>
                      </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12">
                      <div class="call-to-action-btn">
                          <a href="https://doc.bibleapi.co" target="_blank" class="btn btn-white" title="Acesse a documentação">{{ antl.formatMessage('index.bannerButton') }}</a>
                      </div>
                  </div>
              </div>
          </div>
        </section>
        <!--call-to-action-->

        <section id="howToUse" class=" pd-tp-80  pd-bt-100 bg-color  clearfix">
          <div class="container">
            <div class="row-centered">
              <div class="col-centered col-lg-7 ">
                <h2 class="title-h2">{{ antl.formatMessage('menu.howToUse') }}</h2>
                <p class="font-p mg-bt-30">
                  {{ antl.formatMessage('home.options') }}: books, books/gn, verses/nvi/gn/1, verses/acf/gn/1/1 <a href="http://doc.bibleapi.co/" target="_blank" title="{{ antl.formatMessage('home.documentation') }}">{{ antl.formatMessage('home.andMore') }}</a>
                </p>
              </div>
              <form id="form">
                  <div class="request-input input-group mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" id="basic-addon3" for="path">https://bibleapi.co/api/</label>
                    </div>
                    <input type="text" class="form-control" id="path" aria-describedby="basic-addon3" value="verses/nvi/sl/23" placeholder="verses/{version}/{book}/{chapter}/{number}">
                    <div class="input-group-append">
                      <button class="btn btn-color" type="submit" id="button-addon2" title="{{ antl.formatMessage('home.search') }}">
                        <i class="fa fa-search d-block d-sm-none"></i>
                        <span class="hidden-sm-down d-none d-sm-block">{{ antl.formatMessage('home.search') }}</span>
                      </button>
                    </div>
                  </div>

                  <pre id="output" class="pre-scrollable"></pre>
              </form>
            </div>
          </div>
        </section>

        <section id="donate" class=" pd-tp-80  pd-bt-100 bg-color  clearfix">
          <div class="container">
              <div class="row-centered">
                  <div class="col-centered col-lg-7 ">
                      <h2 class="title-h2">{{ antl.formatMessage('index.contributeTitle') }}</h2>
                      <p class="font-p mg-bt-30">
                          {{ antl.formatMessage('index.contributeDescription') }}
                      </p>
                      <a href="https://www.patreon.com/join/bibleapi" target="_blank">
                        <img src="https://cdn-std.dprcdn.net/files/acc_649651/plrSCT" style="height: 80px;" alt="Patreon">
                      </a>
                  </div>
              </div>
          </div>
      </section>
    </div>

    <!--End page cotnent-->
  <!--Footer-->

  <footer class="footer">
    <div class="footer-warpper">
        <div class="footer-bottom">
          <div class="copyright">
            <div class="container">
              <div class="row justify-content-between">
                <p class="text-left text-sm-center">{{ antl.formatMessage('index.credits') }}</p>
                <p class="text-sm-center"><a href="https://stats.uptimerobot.com/5PXmCNLM" target="_blank" title="{{ antl.formatMessage('general.statusPage') }}">{{ antl.formatMessage('general.statusPage') }}</a></p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </footer>
  <!--Footer -->

    <script defer src="/theme/js/bootstrap.min.js"></script>
    <!-- Template Plugins -->
    <script defer src="/theme/js/jquery.easing.js"></script>
    <script defer src="/theme/js/wow.min.js "></script>
    <script defer src="/theme/js/owl.carousel.min.js"></script>
    <script defer src="/theme/js/magnific-popup.min.js"></script>
    <script defer src="/theme/js/jquery.ajaxchimp.min.js"></script>
    <script defer src="/theme/js/jquery.easy-pie-chart.js"></script>
    <!-- Main js -->
    <script defer src="/theme/js/main.js"></script>
</body>
</html>
