@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600|Roboto:300,400,500,900');

$primary-color: #5a3972;
$bossanova: #442858;
$light-color: #d8d0de;
$white: #fff;
$black: #000;

$ft-base: 'Roboto', sans-serif;
